.sendEmailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #efefef;
}

.sendEmailContainer h1{
    font-family: 'ROBOTO';
}

.sendEmailForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sendEmailForm input{
    outline: none;
    font-family: 'ROBOTO';
    font-weight: 300;
}

.errorMessage {
    font-size: 14px;
    font-style: italic;
    color: #c91919;
}

.formAction {
    width: 100%;
    display: flex;
    margin: 1.3rem 0;
    justify-content: center;
}

.formActionBtn {
    background: #5959d3;
    color: white;
    transition: 1s ease;
    border: 1px solid #5959d3;
}

.formActionBtn:hover {
    background: white;
    color: #5959d3;
    
}