.footer {
    display: flex;
    height: 60px;
    background: white;
    width: 100%;
    bottom: 0;
    -webkit-box-shadow: 1px 0px 3px #d1bed1;
    -moz-box-shadow: 1px 0px 31px #d1bed1;
    box-shadow: 1px 0px 3px #d1bed1;
    align-items: center;
}

.footerItems {
    width: 90%;
    margin: 0 auto;
}

.language {
    display: flex;
    align-items: center;
}

.language p{
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.language button {
    border: 1px solid #524f4f;
    outline: none;
    background: transparent;
    border-radius: 12px;
}